name: Release to NuGet + Github packages

on:
    release:
        types: [published]

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup .NET SDK
              uses: actions/setup-dotnet@v1

            - name: Build
              run: dotnet build -c Release

            - name: Pack nugets
              run: dotnet pack -c Release --no-build --output .

            # - name: Push to NuGet
            #   run: dotnet nuget push "*.nupkg" --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json

            - name: Push to Github NuGet registry
              run: dotnet nuget push "*.nupkg" --api-key ${{secrets.GITHUB_TOKEN}} --source https://nuget.pkg.github.com/HypeRate/index.json
